name: NPM pack check
on:
  pull_request:
    branches:
      - master
jobs:
  npm-pack-check:
    runs-on: ubuntu-latest
    # Only run this job if the PR is from a trusted collaborator (i.e. not a fork)
    if: github.event.pull_request.head.repo.full_name == github.repository
    steps:
      # Checkout project repository
      - name: Checkout
        uses: actions/checkout@v3.5.0

      # Setup Node.js environment
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          registry-url: https://registry.npmjs.org/
          node-version: 20

      # Install dependencies so that prepublish scripts work as expected
      - name: Install deps
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Create test install directory
        run: mkdir ../test-install

      # Pack the package and move it to the test install directory, then
      # install it and ensure that it can be "required"
      - name: Ensure pack file can be installed
        run: |
          export PACK_FILENAME=$(npm pack --json | jq -r '.[] | .filename')
          mv $PACK_FILENAME ../test-install/
          mv test/npm-pack.js ../test-install/
          cd ../test-install
          npm install $PACK_FILENAME
          node npm-pack.js
